
body{
    background:rgb(30,30,40);
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}
body, .svg-container, .container-main {
    margin: 0;
    padding: 0;
}


/* contenedores*/
.main {
    overflow: hidden;
}

.custom-svg {
    fill: #fdf;
    width: 300%;
    height: 280px;
    transform: rotate(180deg);
}
.container-main{
    padding-bottom: 50px ;
    margin-top: -1px;
    background-color: #fdf;
    color: black;
    margin-bottom: 0px;
}
#arreglo{
    list-style: none;
    background-color: #fdf;
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 35px;
    border-radius: 50px;
    border-style: none;
}
#arreglo :hover{
    color:rgb(196, 29, 126) ;
}
/*Headder /tutulos y numeros*/
.headder{
    color: #fdf;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 200px;
}
.headder h1{
        font-size: 70px;
        background-image: linear-gradient(120deg, #ec008c,#fc6767 100%);
        background-repeat: no-repeat;
        background-size: 100% 0.1em;
        background-position: 0 100%;
        transition: background-size 0.25s ease-in;
}
.headder h1:hover {
        background-size: 100% 88% !important;
}

.head h2{
    font-size: 18px;
}
/*Containers y Cuadro de arreglos*/
.main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cuadro{
    padding-bottom: 30px ;
    margin:  20px auto;
    border: solid 3px #99616c44;
    width: 60%;
    text-align: center;
    box-shadow:
    0.9px 0px 0.5px rgba(0, 0, 0, -0.027),
    1.1px 0px 1.1px rgba(0, 0, 0, -0.044),
    1.3px 0px 1.9px rgba(0, 0, 0, -0.049),
    1.3px 0px 2.9px rgba(0, 0, 0, -0.041),
    1.4px 0px 4.1px rgba(0, 0, 0, -0.019),
    1.4px 0px 5.8px rgba(0, 0, 0, 0.019),
    1.4px 0px 8.3px rgba(0, 0, 0, 0.077),
    1.4px 0px 12px rgba(0, 0, 0, 0.158),
    1.5px 0px 18.6px rgba(0, 0, 0, 0.272),
    2px 0px 33px rgba(0, 0, 0, 0.44)
    ;
}
.div3,
.div2 p {
    color: #99616c;
}
.div2 span{
    color:black;
    font-weight: bold;
}
.div3 span{
    color: black;
    font-weight: bold;
}

.div4,
.div5 div{
    color: #99616c;
}
hr{
    border: 0; 
    height: 1px; 
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
}
.tittle-cuadro{
    text-align: center;
}

.custom-shape-divider-top-1713031546 {
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1713031546 svg {
    position: relative;
    display: block;
    width: calc(200% + 1px);
    height: 225px;
}

.custom-shape-divider-top-1713031546 .shape-fill {
    fill: #fdf;
}

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

form { max-width:420px; margin:50px auto; }

.feedback-input {
    color:white;
    font-family: Helvetica, Arial, sans-serif;
    font-weight:500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border:2px solid #CC6666;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width:100%;
    box-sizing: border-box;
    outline:0;
}

.feedback-input:focus { border:2px solid #CC4949; }

textarea {
    height: 150px;
    line-height: 150%;
    resize:vertical;
}

[type="submit"] {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    width: 100%;
    background:#CC6666;
    border-radius:5px;
    border:0;
    cursor:pointer;
    color:white;
    font-size:24px;
    padding-top:10px;
    padding-bottom:10px;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
}
[type="submit"]:hover { background:#CC4949; }
.materia{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.datos,
.promedio{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}
#resultadoPromedio{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    width: 100%;
    background:#CC6666;
    border-radius:5px;
    border:0;
    cursor:pointer;
    color:white;
    font-size:24px;
    padding-top:10px;
    padding-bottom:10px;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
}

/* Media queries para pantallas de tamaño pequeño (máximo 600px) */
@media only screen and (max-width: 600px) {
    #h1{
        font-size: 30px;
        width: 300px;
        
    }
    #arreglo{
        width: 100%;
        font-size: 12px;
    }
    .headder {
        padding: 100px; /* Reduce el padding del encabezado */
    }
    .cuadro {
        width: 90%; /* Ajusta el ancho del cuadro al 90% del contenedor */
    }
    .main{
        font-size: 11px;
        width: 100%;
    }
    .custom-svg{
        width: 500%;
        height: 10%;
    }
    .custom-shape-divider-top-1713031546{
        width: 500%;
    }
    .form{
        padding: 20px;
        
    }
}
@media only screen and (min-width: 601px) and (max-width: 900px){
    @media only screen and (max-width: 600px) {
        #h1{
            font-size: 30px;
            width: 300px;
            
        }
        #arreglo{
            width: 100%;
            font-size: 12px;
        }
        .headder {
            padding: 100px; /* Reduce el padding del encabezado */
        }
        .cuadro {
            width: 90%; /* Ajusta el ancho del cuadro al 90% del contenedor */
        }
        .main{
            font-size: 11px;
            width: 100%;
        }
        .custom-svg{
            width: 500%;
            height: 10%;
        }
        .custom-shape-divider-top-1713031546{
            width: 500%;
        }
        .form{
            padding: 20px;
            
        }
    }
    

}